.App {
  text-align: center;
}

.bg-dark{
  background-color: #222 !important; 
}

.footer-icon {
  color: #838383;
}

.footer-links {
  font-size: 0.8em;
}

.footer-links p {
  margin-bottom: 0.3em;
  color: #838383;
}

.footer-links a {
  color: #838383;
  text-decoration: none;
}

.footer-button {
  color: #838383;
  border-color: #838383;
}

.copyright {
  color: #838383;
  font-size: 0.6em;
}

.col img {
  transition: transform 0.2s;
}

.col img:hover {
  transform: scale(1.1);
}

.netflixlogo {
  height: 45px;
}

.avatar {
  height: 35px;
}

.formgen {
  border-radius: 0%;
}

.freccia {
  top: 9px;
  right: 25px;
}
.lastcar{
  padding-bottom: 4em;
}

.btn-pers {
  background-color: #4d4949;
}

.freccia {
  top: 45px;
  right: 25px;
  color: white;
}

.noround {
  border-radius: 0;
}

.edit {
  bottom: 5px;
  left: 20px;
  padding: 2PX 5PX;
  box-shadow: 2px 2px 1px 1px #878383;
}

.profile {
  height: 100px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
